---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css"; // On importe le CSS global ici

const { title, description, image, schema } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const slug = canonicalURL.pathname
    .replace(/^\/|\/$/g, "")
    .split("/")
    .pop();
const ogImage = image
    ? new URL(image, Astro.site)
    : new URL(`/og/${slug}.png`, Astro.site);
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
<link
    rel="alternate"
    type="application/rss+xml"
    title="Le Blog de Valentin Besse"
    href={new URL("rss.xml", Astro.site)}
/>
<meta name="theme-color" content="#0d1b2a" />
<meta name="generator" content={Astro.generator} />

<link rel="canonical" href={canonicalURL} />
<title>{title} | vbesse.com</title>
<meta name="description" content={description} />

<meta property="og:type" content="article" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImage} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImage} />

{
    schema && (
        <script type="application/ld+json" set:html={JSON.stringify(schema)} />
    )
}

<ClientRouter />

<script is:inline>
    function setDarkMode() {
        const theme = (() => {
            if (
                typeof localStorage !== "undefined" &&
                localStorage.getItem("theme")
            ) {
                return localStorage.getItem("theme");
            }
            if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                return "dark";
            }
            return "light";
        })();

        if (theme === "dark") {
            document.documentElement.classList.add("dark");
        } else {
            document.documentElement.classList.remove("dark");
        }
    }
    setDarkMode();
    document.addEventListener("astro:after-swap", setDarkMode);
</script>
